@font-face {
    font-family: 'Terminator Gen';
    src: url('TerminatorGen.woff2') format('woff2'),
        url('TerminatorGen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

